<a href="https://colab.research.google.com/github/Rohan151721/Python/blob/main/packages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [3]:
import math
math.sqrt(16)

4.0

In [4]:
from math import sqrt
print(sqrt(25))

5.0

In [5]:
from math import *
print(sqrt(64))
print(pi)

8.0
3.141592653589793

In [9]:
##   STANDARD LIBRARY OVERVIEW

import array
a=array.array('i',[1,2,3,4,5])

for i in a:
  print(i,end=' ')

1 2 3 4 5

In [15]:
import random
print(random.random())
print(random.randint(1,10))
print(random.choice(['apple','mango','banana','cheery']))

0.5148502725053844
9
banana

In [18]:
# DATA SERIALIZATION
import json
data={'name':'Rohan','age':25,'gender':'Male'}
json_data=json.dumps(data)
print(json_data)
print(type(json_data))

parsed_data=json.loads(json_data)
print(parsed_data)
print(type(parsed_data))

{"name": "Rohan", "age": 25, "gender": "Male"}
<class 'str'>
{'name': 'Rohan', 'age': 25, 'gender': 'Male'}
<class 'dict'>

In [26]:
# CSV FILE READ AND WRITE
import csv

with open('data.csv',mode='w',newline='') as file:
  writer=csv.writer(file)
  writer.writerow(['name','age'])
  writer.writerow(['Krish',32])

with open('data.csv',mode='r') as file:
  reader=csv.reader(file)
  for row in reader:
    print(row)

['name', 'age']
['Krish', '32']

In [27]:
##DATETIME
from datetime import datetime,timedelta

now= datetime.now()
print(now)

yesterday = now-timedelta(days=1)
print(yesterday)

tomorrow = now+timedelta(days=1)
print(tomorrow)

2025-04-09 06:26:37.499018
2025-04-08 06:26:37.499018
2025-04-10 06:26:37.499018

In [28]:
#TIME
import time
print(time.time())
print(time.localtime(time.time()))
time.sleep(2)
print(time.time())

1744180339.7145154
time.struct_time(tm_year=2025, tm_mon=4, tm_mday=9, tm_hour=6, tm_min=32, tm_sec=19, tm_wday=2, tm_yday=99, tm_isdst=0)
1744180341.7151105